@import "bootstrap";

.form-group {
  margin-bottom: 5px; /* 各フォーム要素の間隔を調整 */
}

.form-label {
  display: block; /* ラベルをブロックレベル要素に設定 */
  margin-bottom: 3px; /* ラベルと入力フィールドの間に間隔を設定 */
}

.form-control {
  width: 100%; /* 入力フィールドをコンテナの幅いっぱいに広げる */
  padding: 2px 4px; /* 入力フィールドの内側のパディングを調整 */
}

/*
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 