<p><%= @email %>様</p>

<p>パスワード再設定の依頼を受けたため、メールをお送りしています。下のリンクからパスワードの再設定ができます。</p>

<p><%= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワード再設定の依頼をしていない場合、このメールを無視してください。</p>

<p>パスワード再設定の有効期限は、上記リンクから新しいパスワードを設定するまでとなっています。</p>
